/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/certs
/storage/data
/storage/keys
/database/data
/packages
/resources/views/sandbox
/vendor
.DS_Store
.env
.env.backup
.extra
.phpunit.result.cache
Homestead.json
Homestead.yaml
Thumbs.db
npm-debug.log
yarn-error.log
composer.local.json
composer.production.json
.vapor/
.env.production
.env.staging
