{
    "extends": [
        "airbnb"
    ],
    "rules": {
    "no-new": 0,
    "eqeqeq": 0,
    "func-names": 0,
    "global-require": 0,
    "import/extensions": 0,
    "no-console": 0,
    "no-global-assign": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-var": 0,
    "prefer-destructuring": 0,
    "quotes": [
        "error",
        "backtick"
    ],
    "space-before-function-paren": 0,
    "spaced-comment": 0,
    "wrap-iife": 0
    },
    "env": {
    "browser": true,
    "node": true,
    "jquery": true
    },
    "parserOptions": {
    "parser": "babel-eslint"
    }
}
