/* ------------------------------ ASPECT RATIO ------------------------------ */

/* ---------------------------------- VIDEO --------------------------------- */

/* USAGE:

<div class="video">
    <script class="_nbaVideoPlayerScout" 
            data-team="celtics" 
            data-videoId="/video/teams/celtics/2018/10/10/2288457/1539179070084-COM20_CoachJrCeltics_2kWS_H264-2288457"
            data-width="768" data-height="732" src="https://www.nba.com/scout/team/cvp/videoPlayerScout.js">
    </script>
</div>

*/

/* --------------------------- PARQUET BACKGROUND --------------------------- */

/* ---------------------------- FULL WIDTH LAYOUT --------------------------- */

/* ------------------------------- BREAKPOINTS ------------------------------ */

/*=================================
=            BOOTSTRAP            =
==================================*/

#blog-wrap {
  display: flex;
  justify-content: center;
  /* --------------------------------- SPINNER -------------------------------- */
}

#blog-wrap:not([data-logged-in]) #login,
#blog-wrap:not([data-logged-in]) #content-wrap {
  display: none;
}

#blog-wrap[data-logged-in=false] #content-wrap {
  opacity: 0.1;
  filter: blur(5px);
}

#blog-wrap[data-logged-in=true] #login {
  display: none;
}

#blog-wrap #login {
  margin-top: 7em;
  position: absolute;
  z-index: 10;
}

#blog-wrap #login svg {
  width: 100%;
}

#blog-wrap #login svg path {
  fill: #008348;
}

#blog-wrap #login .close-button {
  font-size: 1.5em;
  color: #272727;
  position: relative;
  align-self: flex-end;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

#blog-wrap #login .close-button:hover {
  opacity: 0.75;
}

#blog-wrap #login.active {
  display: flex;
}

#blog-wrap #login.fade-in {
  opacity: 1;
}

#blog-wrap #login .shade {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

#blog-wrap #login .login-modal > p {
  text-align: center;
  color: #fff;
}

#blog-wrap #login .inner {
  background: #fafafa;
  padding: 2em;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  position: relative;
  max-width: 400px;
  margin-bottom: 1em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#blog-wrap #login .inner p {
  text-align: center;
}

#blog-wrap #login .inner .error-message,
#blog-wrap #login .inner .valid-message {
  color: #d63d3d;
  font-size: 0.9em;
  margin: 1em 0em 0em 0em;
  display: none;
}

#blog-wrap #login .inner button {
  text-align: center;
  padding: 0;
  font-size: 1.5em;
  font-family: "futura-pt";
  background-color: #008348;
  color: #fff;
  font-weight: bold;
  padding: 0.5em 1em;
  border: none;
  margin-top: 1em;
  text-transform: uppercase;
  border-radius: 3px;
  transition: 300ms ease;
}

#blog-wrap #login .inner button:hover {
  /********  EXTRA SMALL ********/
  /******** SMALL ********/
  /********  MEDIUM ********/
}

@media (min-width: 901px) {
  #blog-wrap #login .inner button:hover {
    background-color: #00b664;
  }
}

#blog-wrap .lds-spinner {
  color: official;
  width: 64px;
  height: 64px;
  transform: scale(0.7);
  z-index: 100;
}

#blog-wrap .lds-spinner div {
  transform-origin: 32px 32px;
  -webkit-animation: lds-spinner 1.2s linear infinite;
          animation: lds-spinner 1.2s linear infinite;
}

#blog-wrap .lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #008348;
}

#blog-wrap .lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

#blog-wrap .lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

#blog-wrap .lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

#blog-wrap .lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

#blog-wrap .lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

#blog-wrap .lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

#blog-wrap .lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

#blog-wrap .lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

#blog-wrap .lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

#blog-wrap .lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

#blog-wrap .lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

#blog-wrap .lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}